/Signature/Source/Test/obj
/Signature/Source/Test/bin
/Signature/Source/jinyinmao.Signature.ServiceTests/Properties
/Signature/Source/jinyinmao.Signature.ServiceTests/bin
/Goverment/Government/Source/packages
