<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--dev-->
    <!--<add key="JymDbConnectionString" value="Server=tcp:flnpkc8fj6.database.chinacloudapi.cn,1433;Database=jym-grains-{0};User ID=db-user-front@flnpkc8fj6;Password=0SmDXp8i7MRfg29HJk1N;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="DataConnectionString" value="BlobEndpoint=https://jymstoredev.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymstoredev.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymstoredev.table.core.chinacloudapi.cn/;AccountName=jymstoredev;AccountKey=1dCLRLeIeUlLAIBsS9rYdCyFg3UNU239MkwzNOj3BYbREOlnBmM4kfTPrgvKDhSmh6sRp2MdkEYJTv4Ht3fCcg==" />-->
    <!--test-->
    <!--<add key="JymDbConnectionString" value="Server=tcp:jb9z2n99uq.database.chinacloudapi.cn,1433;Database=jym-grains-{0};User ID=db-user-front@jb9z2n99uq;Password=qatem01!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="DataConnectionString" value="BlobEndpoint=https://jymstoretest.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymstoretest.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymstoretest.table.core.chinacloudapi.cn/;AccountName=jymstoretest;AccountKey=RAERcTXWBkJLlyJOWSle+tewwKTdYkSb7U3wygwliGD/pMmPeVs4I6hcYvhncey/9QHPt66qphgRZPI/AV2VDQ==" />-->

    <add key="JymDbConnectionString" value="Server=tcp:mg6a5w2lqj.database.chinacloudapi.cn,1433;Database=jym-grains-{0};User ID=db-user-front@mg6a5w2lqj;Password=35PpJmDfu7iLeogTzYkjx9Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="DataConnectionString" value="BlobEndpoint=https://jymstoreproduct.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymstoreproduct.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymstoreproduct.table.core.chinacloudapi.cn/;AccountName=jymstoreproduct;AccountKey=1MYJoT5rVW6HDdJKYGpTI4q28HrJtYnJbwqHPJdH+9KsOAbvSjTzWHfsaYButdzsF/vMZx3hwTv1Iz/CdcM2cw==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>