<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="JYMAuthDBContextConnectionString" value="Server=tcp:mg6a5w2lqj.database.chinacloudapi.cn,1433;Database=jym-auth;User ID=db-user-front@mg6a5w2lqj;Password=35PpJmDfu7iLeogTzYkjx9Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="JymDbConnectionString" value="Server=tcp:mg6a5w2lqj.database.chinacloudapi.cn,1433;Database=jym-grains-{0};User ID=db-user-front@mg6a5w2lqj;Password=35PpJmDfu7iLeogTzYkjx9Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="SqlStorageProviderConnectionString" value="Server=tcp:mg6a5w2lqj.database.chinacloudapi.cn,1433;Database=jym-grains-{0};User ID=db-user-front@mg6a5w2lqj;Password=35PpJmDfu7iLeogTzYkjx9Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="DataConnectionString" value="BlobEndpoint=https://jymstoreproduct.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymstoreproduct.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymstoreproduct.table.core.chinacloudapi.cn/;AccountName=jymstoreproduct;AccountKey=1MYJoT5rVW6HDdJKYGpTI4q28HrJtYnJbwqHPJdH+9KsOAbvSjTzWHfsaYButdzsF/vMZx3hwTv1Iz/CdcM2cw==" />
    <add key="RedisConnectionString-0" value="jym-product-redis-grains-0.redis.cache.chinacloudapi.cn:6379,password=lOlYDe21VvgCeNYpTKCUv7OzEILjVVdcY6ndd/aapmg=" />
    <add key="RedisConnectionString-1" value="jym-product-redis-grains-1.redis.cache.chinacloudapi.cn:6379,password=Boxb+uNiIqSxV6UOH3/K3AZVgnm7y6X9Ga/JCxkeZ+Y=" />
    <add key="RedisConnectionString-2" value="jym-product-redis-grains-2.redis.cache.chinacloudapi.cn:6379,password=r8h5PPeXWvv/XeNyB6AY7GuXbvPNP1Rf0TFmHfthn9g=" />
    <add key="RedisConnectionString-3" value="jym-product-redis-grains-3.redis.cache.chinacloudapi.cn:6379,password=ZNLJMCXLxCWrq0I95tcnE/BSktGdJ0E0dTH68C2gRAM=" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>